@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
}

header {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px; 
    border-bottom: 3px solid red;
    background: #fff;
    color: #000;
    height: 60px;
}

#logo-header {
    width: 150px;
    margin-top: 5px;
}

header > div > ul {
    font-weight: 600;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

li{
    padding: 7px 7px;
    cursor: pointer;
    border: 3px solid transparent;
}

#cadaster {
    height: 38px;
    background: #e30000;
    font-size: 14px;
    border-radius: 15px;
    font-weight: bold;
    color: #fff;
}

#cadaster:hover {
    border: 3px solid #003078;
    transition: all ease 300ms;
    background-color: #003078;
}

#matricula {
    color: #fff;
    text-decoration: none;
    font-size: 14px !important;
}


/* Border-Bottom Animation */
.link {
    text-decoration: none;
    color: #000;
    font-size: 14px !important;
    height: 3px;
}

.link:hover {
    color: #003078;
}

.link::after {
    content: "";
    background-color: #003078;
    width: 0;
    height: 3px;
    display: block;
}

.link:hover::after {
    width: 100%;
    transition: width 0.3s linear;
    color: #003078;
}

.container-galeria {
    width: 100%;
    height: 590px;
}

.galeria {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.foto {
    width: 100%;
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.foto:nth-child(2) {
    animation-delay: 5s;
}

.foto:nth-child(3) {
  animation-delay: 10s;
}

.foto:nth-child(4) {
  animation-delay: 15s;
}

.foto:nth-child(5) {
  animation-delay: 20s;
}

main {
    margin-top: 30px;
    padding: 0 60px;
}

.subtitle {
    font-size: 40px;
    text-align: center;
    color: #003078;
    text-shadow: 2px 2px 2px #C4C4C4;
}

.text-one {
    margin-top: 10px;
    font-size: 1.1rem;
    text-align: justify;
}

.container {
    width: 90%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 0.5rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
  }

  .text-two {
    margin-top: 10px;
    font-size: 1.1rem;
    text-align: center;
  }

  .text-three {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
  }
  
  .select-course {
    margin: 0 50px;
  }

  .courses {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 85px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .size-img {
    width: 250px;
    border-radius: 30px;
    cursor: pointer;
  }

  .size-img:hover {
    box-shadow: #e30000 0px 0px 0px 3px;
    transition: all ease 300ms;
    transform: scale(1.05);
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .btn-button {
    background-color: #e30000;
    border: none;
    width: 67.4vw;
    padding: 10px 0;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
  }

  .btn-button:hover {
    background-color: #003078;
    transition: all ease 300ms;
    cursor: pointer;
  }

  footer {
    margin-top: 20px;
    height: 170px;
    background-color: #000;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .socials-icon {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    gap: 25px;
  }

  svg:hover {
    cursor: pointer;
    transition: all ease 300ms;
    transform: scale(1.06);
  }

  .text-footer {
    margin-top: 10px;
    color: #fff;
    text-align: center;
  }

.profile {
    display: flex;
    flex-direction: column;
}

.depoimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 85px ;
  margin: 30px 100px 0 100px;
}

.depoimento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    max-width: 250px;
    min-height: 265px;
    background-color: #003078;
    border-radius: 20px;
}

.depoimento:hover {
    background-color: #e30000;
    transition: all ease 300ms;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.depoimento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    max-width: 250px;
    min-height: 265px;
    background-color: #003078;
    border-radius: 20px;
}

.avatar {
    align-self: center;
    margin: 10px auto;
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
}

.name {
    text-align: center;
    font-size: 20px;
}

.curso {
    text-align: center;
    font-size: 10px;
}

.comentario {
    margin: 10px;
    text-align: justify;
    font-weight: 200;
}

.menu-burguer {
  width: 40px;
  margin-right: -20px;
}

@media screen and (min-width: 768px) {
	.menu-burguer {
        display: none;
    }
}
  
.message {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  border-radius:50px;
  color:#FFF;
  text-align:center;
  font-size:30px;
  box-shadow: 1px 1px 2px #888;
  z-index:1000;
}

center {
  margin-top: 40px;
  margin-bottom: 80px;
}

.subtitle-course {
  margin-top: 10px;
}

.text-one-course {
  text-align: center;
  margin: auto 20px;
}
  
hr {
  margin: auto 150px;
  margin-top: 10px;
}

.img-qs {
  width: 100%;
  margin-top: 20px;
  border-radius: 30px 0 30px 0;
}

#resultados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 60px;
  gap: 40px;
}

#random, #random1, #random2 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}

.cardResult{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003078;
  width: 380px;
  height: 200px;
}

.cardResult:hover {
    background-color: #e30000;
    transition: all ease 300ms;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}


